
body {
    font-family: 'Noto Sans KR', sans-serif;
}


.mobile-only {
    display: none;
}

/* header */

.main-header {
    width: 100vw;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 10px;
}

.main-header .logo img{
    width: 132px;
    padding: 5px;
}

.main-header #gnb > ul {
    margin-right: 3vw;
    display: flex;
    justify-content: flex-end;
    width: 60vw;
}

.main-header #gnb > ul > li {
    float: right;
    width: 20%;
}

.main-header #gnb {
    width: 70vw;
    padding-right: 30px;
    position: absolute;
    margin-left: 20vw;
    float: right;
    padding-left: 8vw;
    z-index: 10;
}

.main-header #gnb > ul > li > a {
    display: block;
    font-size: 18px;
    width: 120px;
    padding: 15px;
    text-align: center;
}

.main-header #gnb .sub-menu {
    padding-top: 10px;
    padding-left: 25px;
    background: #fff;
    height: 200px;
    display: none;
}

.main-header #gnb > ul > li:hover> .sub-menu {
    display: block;
} 

.main-header #gnb .sub-menu li {
    padding-bottom: 8px;
}

.main-header #gnb .sub-menu li a{
    text-align: left;
    
}

/* right-menu */

.main-header .right-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9vw;
    margin-left: 70px;
}

.main-header .right-menu-container {
    display: flex;
    width: 100vw;
}

.right-menu button  {
    background-color: transparent;
    border-style: none;
}

.right-menu .glob {
    display: flex;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.2em;
    cursor: pointer;
}

.right-menu .glob > img {
    padding-left: 5%;
    width: 20px;
}

.right-menu #sitemap-toggle-btn {
    margin-left: 20px;
    margin-bottom: 0.3em;
    cursor: pointer;
}

.right-menu-container .glob .v-slash {
    margin-left: 20px;
    margin-bottom: 5px;
}

.main-header .nav_bg {
    display: none;
    position: absolute;
    width: 100vw;
    height: 200px;
    background: #fff;
    z-index: 10;
    top: 68px;

}

.main-header .right-menu-container #sitemap-toggle-btn{
    background-color: transparent;
    border: none;
    margin-top: 0.2em;
}    



/* 메인비쥬얼 슬라이드*/


#main-visual {
    position: relative;
    width: 100vw;
    height: calc(100vh - 65px);
    overflow: hidden;
}

.swiper .swiper-slide {
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper .swiper-slide.s1 {
    background-image: url(../images/메인비쥬얼/family1.jpg);
}

.swiper .swiper-slide.s2 {
    background-image: url(../images/메인비쥬얼/lab2.jpg);
}

.swiper .swiper-slide.s3 {
    background-image: url(../images/메인비쥬얼/micro3.jpg);
}


.swiper-slide .title h2 {
    font-size: 24px;
    color: white;
    text-shadow: 2px 2px 2px rgb(41, 41, 41);
}

.swiper-slide .title h2 span {
    font-size: 102px;
    color:  white;
    text-shadow: 2px 2px 2px rgb(41, 41, 41);
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next{
    color: #fff;
}

.swiper .swiper-pagination-bullet {
    color: #fff;
}


/* search-box  */

.search-box {
    z-index: 8;
    width: 450px;
    height: 250px;
    background: #000089;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 80%;
}

.search-box .tab-container {
    margin-bottom: 40px;
}

.search-box .tab-container a {
    font-size: 16px;
    color: #fff;
    margin-right: 15px;
    margin-left: 15px;
}

.search-box .tab-container a:last-child {
    color: gray;
}

.search-box .tab-container span {
    color: #fff;
}

.search-box form {
    display: flex;
    align-items: center;
}

.search-box form input:first-of-type {
    background-color: transparent;
    border-style: none;
    border-bottom: 1px solid gray ;
}

.search-box form input img {
    width: 23px;
    height: 25px;
}

/* floating-nav */

.floating-nav {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
    display: none;
}



/* main */

main {
    margin: 0 auto;
}

/* conti-1 */

#content1-full {
    height: 50vh;
    position: relative;
    margin: 0 auto;
    margin-top: 200px;
    overflow: hidden;
}

#content1-full .content1-containerbox {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

#content1-full .content-img img {
    width: 90vw;
    object-fit: cover;
}


#content5-full .content-img {
    display: flex;
    width: 100vw;
    height: 400px;
    justify-content: flex-end;
} 

#content1-full .content1-containerbox .content-title {
    margin-left: 15vw;
    margin-right: 5vw;
    text-align: left;
}


.content-title .conti-title-main {
    font-size: 16pt;
    margin-bottom: 20px;
}

.content-title .conti-title-sub {
    font-size: 64px;
    margin-bottom: 20px;
}

.content-title .conti-title-info {
    font-size: 18px;
}

/* conti-2 */

#content2-full {
    min-width: 1440px;
    position: relative;
    margin-top: px;
    margin-bottom: 60px;
}

#content2-full .content-box {
    align-items: center;
    min-width: 1440px;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

#content2-full .content-gray-wall {
    position: absolute;
    background-color: #F0F0F1;
    width: 100vw;
    top: 20%;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 10vw;
}

#content2-full .content-box-container {
    margin: 0 auto;
    width: 65vw;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-bottom: 100px;
}

#content2-full .content-box-container .content-box-container {
    width: 100vw;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}


#content2-full .content-box-container .content-sub {
    display: block;
    width: 25%;
    margin-right: 30px;
}

#content2-full .content-box-container .content-sub:last-of-type {
    margin-right: 0;
}

#content2-full .content-sub-img {
    position: relative;
}

#content2-full .content-sub-img img {
    display: block;
    width: 100%;
}

#content2-full .content-sub .content-sub-title {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

#content2-full .content-sub .content-sub-title i {
    margin-bottom: 10px;
}    

#content2-full .content-sub .content-sub-title h3 {
    margin-bottom: 10px;
    font-size: 20px;
}

#content2-full .content-sub .content-sub-title p {
    font-size: 14px;
}


/* 제품소개 메인 conti-3 */

#content3-full {
    width: 100vw;
    position: relative;
    
}

#content3-full .content3-wrap {
    display: flex;
    overflow: hidden;
    height: 400px;
    margin-top: 50px;
    /* justify-content: flex-start; */
}

#content3-full .content3-line-bundle {
    width: 400px;
    height: 400px;
    margin-left: 10%;
    overflow: hidden;
}


#content3-full .content3-line-bundle span {
    float: left;
    width: 3px;
    height: 100vh;
    margin-right: 15px;
    display: block;
    overflow: hidden;
    background-color: #0d0f87;
    opacity: 75;
}

#content3-full .content-title {
    padding-top: 50px;

}

.content-title .conti-link1 {
    margin-top: 10px;
}


/* 제품소개 슬라이드 */
/* swiper2 추가 */

.product-slide-backwall {
    width: 100vw;
    position: relative;
    overflow: hidden;
    background: #F0F0F1 ;
}

#product-slide-container {
    position: relative;
    width: 95vw;
    height: 40vh;
    overflow: hidden;
    margin: 0 auto;
}

.swiper2 .swiper-slide {
    width: 30vw;
    background-position: center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}

.swiper2 .swiper-slide.s1 {
    background-image: url(../images/치약/닥터에이지-덴탈.jpg);
}

.swiper2 .swiper-slide.s2 {
    background-image: url(../images/치약/라벤더치약.jpg);
}

.swiper2 .swiper-slide.s3 {
    background-image: url(../images/치약/마보덴탈치약.jpg);
}
.swiper2 .swiper-slide.s4 {
    background-image: url(../images/치약/숯치약.jpg);
}

.swiper2 .swiper-slide.s5 {
    background-image: url(../images/치약/진생베리치약.jpg);
}

.swiper2 .swiper-slide.s6 {
    background-image: url(../images/치약/크린월드-에이스.jpg);
}
.swiper2 .swiper-slide.s7 {
    background-image: url(../images/치약/프로폴리스치약.jpg);
}

.swiper2 .swiper-slide.s2 {
    background-image: url(../images/치약/홍삼치약.jpg);
}

.swiper2 .swiper-slide.s8 {
    background-image: url(../images/치약/흑삼치약.jpg);
}

.swiper2 .swiper-slide.s9 {
    background-image: url(../images/치약/라벤더치약.jpg);
}



.swiper .swiper-button-prev,
.swiper .swiper-button-next{
    color: #fff;
}

.swiper .swiper-pagination-bullet {
    color: #fff;
}


.product-slide-container li:hover .caption {
    
}    
    
    
/* 고객센터 (conti-5) */

#content5-full {
    width: 100vw;
    position: relative;
}

#content5-full .content5-wrap {
    display: flex;
    justify-content: flex-end;
    padding-right: 10%;
    overflow: hidden;
    height: 400px;
}

#content5-full .content5-line-bundle {
    height: 400px;
    margin-left: 8%;
    overflow: hidden;
}


#content5-full .content5-line-bundle span {
    float: left;
    width: 3px;
    height: 100vh;
    margin-right: 15px;
    display: block;
    overflow: hidden;
    background-color: #0d0f87;
    opacity: 75;
}

#content5-full .content-title {
    padding-top: 50px;
}

#content5-full .content5-img {
    display: flex;
    width: 100vw;
    height: 400px;
    justify-content: flex-end;
}


#content5-full .content5-img img{
    width: 90vw;
    object-fit: cover;
}

.content-title .conti5-link {
    margin-top: 10px;
}

/* 채용정보 메인 (conti-6) */

#content6-full {
    width: 100vw;
    position: relative;
}

#content6-full .content6-wrap {
    display: flex;
    justify-content: flex-start;
    padding-left: 5%;
    overflow: hidden;
    height: 400px;
}

#content6-full .content6-line-bundle {
    width: 400px;
    overflow: hidden;
}


#content6-full .content6-line-bundle span {
    float: left;
    width: 3px;
    height: 100vh;
    margin-right: 15px;
    display: block;
    overflow: hidden;
    background-color: #0d0f87;
    opacity: 75;
}

#content6-full .content-title {
    padding-top: 50px;
}

#content6-full .content6-img-container {
    width: 100vw;
    height: 400px;
    position: relative;
    overflow: hidden;
}


#content6-full .content6-img-container img{
    width: 100vw;
    height: 400px;
    object-fit: cover;
}

.content6-img-container .recruit-info-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65vh;
    height: 50vh;
    background: rgba(51, 51, 51, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: 1px solid gray;
}

.recruit-info-box .recruit-info-title h3{
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 16px;
    border-bottom: 1px solid red;
}

.recruit-info-box .recruit-info-title {
    font-size: 24px;
}

.recruit-info-box .recruit-info-title > p{
    text-align: center;
    padding-top: 20%;
}
.content6-img-container .recruit-btn-box .recruit-btn {
    width: 100px;
    height: 30px;
    margin-top: 30px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
}

.content-title .conti6-link {
    margin-top: 10px;
}

/* footer */

.main-footer {
    width: 100vw;
    padding: 20px 50px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-container .footer-text  {
    flex: 1;
    padding-left: 10%;
}

.footer-container .sns-group {
    margin-right: 5%;
}

.footer-container .footer-info ul {
    display: flex;
}

.footer-container .footer-info ul li{
    margin-right: 10px;
}
.main-footer .footer-logo img{
    width: 122px;
}

.footer-text .footer-menu ul{
    width: 80%;
    justify-content: space-between;
}

.footer-text .footer-menu ul li {
    display: inline;
    margin-right: 1em;
}

.footer-text .footer-menu ul li span {
    margin-left: 1em;
}

.main-footer .sns-group ul{
    display: flex;
}

.main-footer .sns-group ul li {
    margin-right: 15px;
}

.sitemap-modal {
    display: none;
}


/* 인재상 */

.talent-main .main-visual {
    background-image: url(../images/메인비쥬얼/인재상-메인.jpg);
    background-size: cover;
    width: 100vw;
    height: 85vh;
}

#talent-main-up {
    margin: 0 auto;
    width: 100vw;
    height: 55vh;
    position: absolute;
    overflow: hidden;
    top: 65vh;
    display: flex;
    justify-content: space-between;
}

#talent-main-up .holder {
    flex: 1;
    background: #4373C2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}    

.holder .holder-title h2{
    font-size: 64px;
    margin-bottom: 20px;
}

.holder .holder-title p{
    font-size: 24px;
}

#talent-main-up .bread-crumb{
    flex: 1;
}   

#talent-main-up .bread-crumb .bread-crumb-info {    
    padding-top: 45vh;
    padding-left: 10vw;
}    

#talent-main-up .bread-crumb .bread-crumb-text p span{
    margin-left: 15px;
    margin-right: 15px;
}

#talent-main-up .bread-crumb-info .bread-crumb-under {
    width: 40vw;
    height: 10px;
    margin-top: 30px;
    background: #0d0f87;
}

main .talent-main-middle {
    position: relative;
    width: 100vw;
}

.talent-main-middle .sub-tab-container {
    width: 100vw;
    padding-left: 10vw;
    padding-right: 10vw;
    position: absolute;
    top: 45vh;
}
 
.talent-main-middle .sub-tab-menu ul{
    display: flex;
    height: 10vh;
}

.talent-main-middle .sub-tab-menu ul li{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0D0F87;
    margin-left: 1px;
}    

.talent-main-middle .sub-tab-menu ul li a {
    color: #fff;
    font-size: 24px;
}

main .talent-title-text {
    width: 100vw;
    height: 25vh;
    text-align: center;
    top: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

}


main .talent-title-text h3{
    margin-top: 125px;
    font-size: 36px;
    margin-bottom: 50px;
}

main .talent-title-text .text-border-line2 {
    width: 50px;
    height: 5px;
    background: #0D0F87;
    margin-bottom: 50px;
}

main .talent-title-text h2{
    font-size: 36px;
    margin-bottom: 50px;
}    

.talent-conti-container {
    /* outline: 2px solid red; */
    position: relative;
    width: 100vw;
    margin-top: 100vh;
    overflow: hidden;
    padding-left: 10vw;
    padding-right: 10vw;
    margin-bottom: 25vh;
}


.talent-conti-container .talent-conti-wrap .talent-conti-group {
    width: 80vw;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.talent-conti-container .talent-conti-group li {
    width: 30%;
    overflow: hidden;
}

.talent-conti-container .talent-conti-group li .talent-conti-img{
    object-fit: cover;
    width: 100vw;
}    

.talent-conti-container .talent-conti-group li .talent-conti-img > img{
    width: 30%;
}    

.talent-conti-container .talent-conti-group .talent-conti-text{
    text-align: center;
}

.talent-conti-container .talent-conti-group .talent-conti-text h3{
    font-size: 24px;
    margin: 50px 0px 50px;
}    

.talent-conti-container .talent-conti-group .talent-conti-text p{
    font-size: 18px;
}    

.bridge {
    position: relative;
    width: 100vw;
    height: 200px;
    overflow: hidden;
    display: flex;
    
}

.bridge .prev-tab {
    flex: 1;
    text-align: left;
    background: #43C1AC;
}

.bridge .next-tab {
    flex: 1;
    text-align: right;
    background: #61C9E8;

}    

.bridge .bridge-text {
    /* outline: 2px solid red; */
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding:45px 100px;
}

.bridge .bridge-text h3{
    font-size: 36px;
    margin-bottom: 20px;
}    

.bridge .bridge-text p{
    font-size: 24px;
}    

    
.bridge .prev-btn a{
    top: 13vh;
    position: absolute;
    left: 20px;
}    

.bridge .prev-btn img{
    width: 30px;
}    

.bridge .next-btn a{
    top: 13vh;
    position: absolute;
    right: 20px;
}   

.bridge .next-btn img{
    width: 30px;
}    

/* 채용안내 */


.main-visual-recruit {
    background-image: url(../images/메인비쥬얼/채용안내-메인.jpg);
    background-size: cover;
    width: 100vw;
    height: 85vh;
}

.recruit-title-text {
    position: relative;
    /* outline: 2px solid red; */
    margin-top: 50vh;
}

.recruit-title-text .text-border-line .under-line {
    width: 100px;
    height: 10px;
    background-color: #0D0F87;
    margin-top: 50px;
    margin-bottom: 100px;
}

.recruit-title-text h3{
    font-size: 36px;
}    

.recruit-title-text .text-border-line {
    width: 100vw;
    /* outline: 2px solid red; */
}

main .recruit-main-middle {
    position: relative;
    width: 100vw;
}

main .recruit-title-total-wrap{
    width: 100vw;
    /* outline: 2px solid red; */
    position: relative;
    margin-left: 10vw;
    margin-right: 10vw;
    overflow: hidden;
}

.recruit-main-middle .sub-tab-container {
    width: 100vw;
    padding-left: 10vw;
    padding-right: 10vw;
    position: relative;
    top: 45vh;
}
 
.recruit-main-middle .sub-tab-menu ul{
    display: flex;
    height: 10vh;
}

.recruit-main-middle .sub-tab-menu ul li{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0D0F87;
    margin-left: 1px;
}    

.recruit-main-middle .sub-tab-menu ul li a {
    color: #fff;
    font-size: 24px;
}

.recruit-guide-container .recruit-guide-group .recruit-guide-wrap {

}

.recruit-guide-container {
    width: 100vw;
    position: relative;
    overflow: hidden;
    
}

.recruit-guide-container .recruit-guide-group {
    width: 80vw;
    overflow: hidden;
}

.recruit-guide-group .recruit-guide-wrap {
    display: flex;
    overflow: hidden;
    justify-content: space-between;

}

.recruit-guide-group .recruit-guide-wrap li{
    width: 15vw;
    overflow: hidden;
    cursor: pointer;
}    


.recruit-guide-group .recruit-guide-wrap li .guide-tab-icon {
    width: 15vw;
}

.recruit-guide-group .recruit-guide-wrap li  img{
    width: 15vw;
    object-fit: cover;
}    

.recruit-guide-group .recruit-guide-wrap li .guide-tab-text{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.recruit-guide-group .recruit-guide-wrap li .guide-tab-text h3{
    font-size: 24px;
    margin-bottom: 50px;
}

.recruit-guide-group .recruit-guide-wrap li .guide-tab-text p {
    font-size: 18px;
}    

.recruit-notice {
    width: 100vw;
    position: relative;
}

.recruit-notice .recruit-notice-container {
    width: 100vw;
    background-image: url(../images/메인비쥬얼/채용안내-하단.jpg);
    height: 120vh;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 9vw;
    display: flex;
    justify-content: space-between;
}   


.recruit-notice .recruit-notice-container .recruit-btn {
    position: absolute;
    left: 50vw;
    top: 100vh;
    transform: translate(-50%, -50%);
}

.recruit-notice .recruit-notice-container .recruit-btn a {
    font-size: 36px;
    width: 27vw;
    height: 7vh;
    color: #fff;
    background: rgba(51, 51, 51, 0.5);
    padding: 1.5vw 18vh;
    border:5px solid #FFFFFF;
    border-radius: 50px;
}    

.recruit-notice-container .recruit.noticebox .noticebox-text{
    width: 40vw;
    height: 60vh;
    background: rgba(51, 51, 51, 0.5);
    float: left;
    color: #fff;
    padding: 40px 45px;
}

.recruit-notice-container .recruit.noticebox .noticebox-text h3{
    font-size: 36px;
    margin-bottom: 20px;
}

.recruit.noticebox .noticebox-text ul li {
    font-size: 24px;
    margin-bottom: 10px;
    list-style-type: disc;
}